In [1]:
import pickle
import pandas as pd

In [30]:
test = pickle.load(open("../scraping/data/reviews_10-59.pkl", "rb"))
test = test.reset_index(drop = True)
print(test.shape)
test.head()

(50, 2)

,url,All_reviews
0,https://www.booking.com/hotel/ph/meranti.html?...,"{'From Page 1, Person- 1': {'name': 'Gene', 'r..."
1,https://www.booking.com/hotel/ph/tryp-by-wyndh...,"{'From Page 1, Person- 1': {'name': 'Easter', ..."
2,https://www.booking.com/hotel/ph/lotus-garden....,"{'From Page 1, Person- 1': {'name': 'Kfineza',..."
3,https://www.booking.com/hotel/ph/leez-inn-maka...,"{'From Page 1, Person- 1': {'name': 'Sheralyn'..."
4,https://www.booking.com/hotel/ph/go-hotels-man...,"{'From Page 1, Person- 1': {'name': 'Marion', ..."

In [84]:
test['All_reviews'][1]['From Page 13, Person- 4']

{'name': 'Douglas',
 'room_type': '',
 'nights_stayed': '\n2 nights ·\xa0\n',
 'month_stayed': '\nJuly 2022\n',
 'occupant_type': '\nCouple\n',
 'from_country': 'United States of America',
 'review_score': ' 10 ',
 'date_reviewed': '\nJuly 2022\n',
 'short_review': '\n4.1 stars\n',
 'positive_review': 'Good location short walk to moa. Hotel was clean.',
 'negative_review': 'Nice pool on roof,  nice views.'}

In [89]:
df = []
for i in range(len(test)):
    data = test['All_reviews'][i]
    for key in data:
        dict = data[str(key)]
        temp  = pd.DataFrame.from_dict(dict, orient = 'index').reset_index()
        temp.rename(columns = {0:'value'}, inplace = True)
        temp = temp.set_index('index').T.reset_index(drop=True)
        # temp.drop(columns = 'colname', axis = 1, inplace= True)
        temp = temp.replace(r'\n',' ', regex=True) 
        temp = temp.replace(r'·',' ', regex=True) 
        df.append(temp)

In [92]:
review_data = pd.concat(df)
review_data = review_data.reset_index(drop = True)
review_data

index,name,room_type,nights_stayed,month_stayed,occupant_type,from_country,review_score,date_reviewed,short_review,positive_review,negative_review
0,Gene,,2 nights,January 2020,Couple,Philippines,10,January 2020,Exceptional,I love the pool coz I was so lucky to swim alo...,nothing..
1,Sheila,Executive Twin Room,1 night,November 2022,Family,Philippines,7.0,November 2022,"Overall, we love the place, the staff and all...",We like that all the staff are very friendly. ...,I'm unhappy that we only got plated breakfast ...
2,Greggy,Executive Twin Room,1 night,October 2022,Solo traveler,Philippines,8.0,October 2022,Nice,Simple and comfortable,the location
3,Tay,Executive Twin Room,2 nights,October 2022,Family,Cambodia,7.0,October 2022,Good,Staff,Lack of service facilties not even coffee in r...
4,Joseph,Executive Twin Room,1 night,July 2022,Family,Philippines,9.0,July 2022,"Overall, it was a very comfortable experience...",The room was very clean and everything we need...,
...,...,...,...,...,...,...,...,...,...,...,...
12975,Yasuhiro,Suite,3 nights,January 2022,Solo traveler,Philippines,4.0,January 2022,Disappointing,There are no comments available for this review,
12976,Iana,Twin Room,2 nights,July 2020,Family,Russia,10,July 2020,Exceptional,There are no comments available for this review,
12977,Samantha,,1 night,January 2020,Group,Brazil,4.2,January 2020,Disappointing,There are no comments available for this review,
12978,Anonymous,,22 nights,July 2020,Solo traveler,Japan,6.0,July 2020,Pleasant,There are no comments available for this review,
12979,Anonymous,,2 nights,December 2019,Solo traveler,Germany,7.0,December 2019,Good,There are no comments available for this review,